<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willyao.android.dripppo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.willyao.android.dripppo.DribbboApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.willyao.android.dripppo.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.willyao.android.dripppo.view.MainActivity" />

        <activity android:name="com.willyao.android.dripppo.view.shot_detail.ShotActivity" />
        <activity android:name="com.willyao.android.dripppo.view.bucket_list.BucketListActivity" />
        <activity android:name="com.willyao.android.dripppo.view.bucket_list.BucketShotListActivity" />

        <activity
            android:name="com.willyao.android.dripppo.dripppo.auth.AuthActivity"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>